#! Visual Code Settings
.vscode/*
__pycache__/*
.ipynb_checkpoints/*

!out/
out/*

!out/rolling/
out/rolling/*

!out/expanding
out/expanding/*


!out/rolling/models/
out/rolling/pickle/

!out/expanding/models/
out/expanding/pickle/